[Unit]

Description=Gunicorn instance to serve myproject

After=network.target



[Service]

User=vagrant

Group=vagrant

WorkingDirectory=/home/vagrant/myproject

Environment="PATH=/home/vagrant/myproject/myprojectenv/bin"

ExecStart=/home/vagrant/myproject/myprojectenv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 -m 007 wsgi:app



[Install]

WantedBy=multi-user.target
